# Project 1
We will scrap things up from the [yelp.com](yelp.com) site

#

### We will scrap the following
1. Name
2. Address
4. Expertise
5. Stars
6. Rating count

We will scrap the "Web Designers" in London, which can be found in: [Link](https://www.yelp.com/search?find_desc=Web+Design&find_loc=London%2C+United+Kingdom)

In [1]:
from selenium import webdriver
import time
import warnings
import numpy as np
warnings.filterwarnings("ignore")

### Open Simply

In [2]:
site = "https://www.yelp.com/search?find_desc=Web+Design&find_loc=London%2C+United+Kingdom"
driver = webdriver.Edge("C:/WebDrivers/msedgedriver.exe")
driver.get(site)
driver.maximize_window()

### Grabbing Multiple Fields

In [3]:
cards = driver.find_elements_by_xpath('//main[@id="main-content"]/div/ul/li/div/div/div/div[2]/div[1]/div')

In [4]:
len(cards)

10

#### Name, Rating, Expertise

In [35]:
left = cards[0].find_element_by_xpath('div[1]//div[@class=" border-color--default__09f24__NPAKY"]')

In [36]:
# Name
left.find_element_by_xpath('div[1]/div/div//a').text

'Doublesided'

In [37]:
# Rating
left.find_element_by_xpath('div[2]/div/div/div/span/div').get_attribute("aria-label")[0]

'5'

In [38]:
# Rating count
left.find_element_by_xpath('div[2]/div/div/div[2]').text

'3'

In [39]:
# Expertise
left.find_element_by_xpath('div[3]/div/div/div/p').text.strip()

'Web Design, Marketing'

####

#### Address

In [73]:
cards[0].find_element_by_xpath('div[2]').text

"1 Pancras Square\nKing's Cross"

####

## All Together

In [77]:
for card in cards:
    left = card.find_element_by_xpath('div[1]//div[@class=" border-color--default__09f24__NPAKY"]')
    # Name
    try: name = left.find_element_by_xpath('div[1]/div/div//a').text
    except: name = np.nan
    
    # Rating
    try: rating = left.find_element_by_xpath('div[2]/div/div/div/span/div').get_attribute("aria-label")[0]
    except: rating = 0
    
    # Rating count
    try: rat_cnt = left.find_element_by_xpath('div[2]/div/div/div[2]').text
    except: rat_cnt = 0
    
    # Expertise
    try: exp = left.find_element_by_xpath('div[3]/div/div/div/p').text.strip()
    except: exp = np.nan
    
    # Address
    try: address = card.find_element_by_xpath('div[2]').text
    except: address = np.nan
    
    print(f'''
    Name: {name}
    Rating: {rating}
    Count: {rat_cnt}
    Experience: {exp}
    Address: {address}''', end="\n———\n")

    Name: Doublesided
    Rating: 5
    Count: 3
    Experience: Web Design, Marketing
    Address: 1 Pancras Square
King's Cross
———

    Name: WP Design
    Rating: 5
    Count: 1
    Experience: Web Design, Marketing, Advertising
    Address: 20 Jerusalem Passage
Clerkenwell
———

    Name: Marc James Studios
    Rating: 5
    Count: 1
    Experience: Web Design, Marketing, Graphic Design
    Address: Dalston
———

    Name: HighGrade Design
    Rating: 5
    Count: 1
    Experience: Web Design, Advertising, Graphic Design
    Address: 10-12 Arcade Chambers
Eltham
———

    Name: SynapseWebSolutions
    Rating: 5
    Count: 1
    Experience: Web Design, Software Development, Marketing
    Address: Serving London and the Surrounding Area
———

    Name: Think Social Media!
    Rating: 0
    Count: 0
    Experience: nan
    Address: Cambridge Road
Holborn
———

    Name: Anova London
    Rating: 5
    Count: 1
    Experience: Web Design, Marketing
    Address: 33-35 Daws Lane
Mill Hill
———

    Name: Addictivity
    Rating: 5
    Count: 1
    Experience: Web Design, Marketing
    Address: 155 Commercial Street
Spitalfields
———

    Name: Grey Fox Web Design
    Rating: 5
    Count: 1
    Experience: Web Design, Graphic Design
    Address: 12 Monteagle Way
Peckham
———

    Name: Moore Wilson
    Rating: 5
    Count: 1
    Experience: Graphic Design
    Address: 19 Garrick Street
Covent Garden
———

#

# Done?
Nah, we want to crawn through all pages — let's do that!

In [4]:
site = "https://www.yelp.com/search?find_desc=Web+Design&find_loc=London%2C+United+Kingdom"
driver = webdriver.Edge("C:/WebDrivers/msedgedriver.exe")
driver.get(site)
driver.maximize_window()

In [ ]:
data = []
th = 0
while True:
    try:
        time.sleep(5)
        cards = driver.find_elements_by_xpath('//main[@id="main-content"]/div/ul/li/div/div/div/div[2]/div[1]/div')
        
        for card in cards:
            left = card.find_element_by_xpath('div[1]//div[@class=" border-color--default__09f24__NPAKY"]')
            # Name
            try: name = left.find_element_by_xpath('div[1]/div/div//a').text
            except: name = np.nan

            # Rating
            try: rating = left.find_element_by_xpath('div[2]/div/div/div/span/div').get_attribute("aria-label")[0]
            except: rating = 0

            # Rating count
            try: rat_cnt = left.find_element_by_xpath('div[2]/div/div/div[2]').text
            except: rat_cnt = 0

            # Expertise
            try: exp = left.find_element_by_xpath('div[3]/div/div/div/p').text.strip()
            except: exp = np.nan

            # Address
            try: address = card.find_element_by_xpath('div[2]').text
            except: address = np.nan

            print(f'''
            Name: {name}
            Rating: {rating}
            Count: {rat_cnt}
            Experience: {exp}
            Address: {address}''', end="\n———\n")
            
            data.append({"name":name,
                         "rating":rating,
                         "count":rat_cnt,
                         "exp":exp,
                         "address":address})
        
        
        next_link = driver.find_element_by_class_name("next-link")
        next_link.click()
        th += 1
        
    except:
        print(f"Breaked at {th} page")
        driver.close()
        break

## Making Pandas

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(data)
df

,name,rating,count,exp,address
0,Doublesided,5,3,"Web Design, Marketing",1 Pancras Square\nKing's Cross
1,WP Design,5,1,"Web Design, Marketing, Advertising",20 Jerusalem Passage\nClerkenwell
2,Marc James Studios,5,1,"Web Design, Marketing, Graphic Design",Dalston
3,HighGrade Design,5,1,"Web Design, Advertising, Graphic Design",10-12 Arcade Chambers\nEltham
4,SynapseWebSolutions,5,1,"Web Design, Software Development, Marketing",Serving London and the Surrounding Area
...,...,...,...,...,...
235,Linkinet,0,0,NaN,
236,Web Spiders,0,0,NaN,1 Royal Exchange Avenue\nThe City
237,Fgjrjrj,0,0,NaN,88 Wood Street\nThe City
238,Wastronauts,0,0,NaN,71 Shelton Street\nCovent Garden
239,Wedidit Creative,0,0,NaN,133 Creek Road\nDeptford

In [6]:
df.to_csv("yelp_web_designers.csv", index=False)

#

# Now, Done.
Now, I am satisfied with the work and the project is done. The data is purely analysable and usable!